server {
    listen 46.36.221.212:80;
    server_name example.com www.example.com;

    return 301 https://example.com$request_uri;
}

server {
    listen 46.36.221.212:443 ssl;
    server_name www.example.com;

	ssl_certificate /etc/letsencrypt/live/example.com/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/example.com/privkey.pem;

    return 301 https://example.com$request_uri;
}

server {
    listen 46.36.221.212:443 ssl;
    server_name example.com;

	ssl_certificate /etc/letsencrypt/live/example.com/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/example.com/privkey.pem;
    
    ...
}
